<section data-name="Summary">

<p>Display API documentation.</p>

</section>

<section data-name="Arguments">

<pre><code>REFERENCE</code></pre>

</section>

<section data-name="Description">

<p>The <b>doc</b> command displays documentation for a given API or topic.</p>

<p>Topics are stored in a tree, where each topic may have sub-topics. A
"reference", similar to a file path, can refer to a topic, or a section within a
topic. The presence of a <code>:</code> separator causes the <i>reference</i> to
begin drilling into the sections of the topic to the left of the separator. The
topic portion of a reference is case-insensitive, while the section portion is
case-sensitive. For example,</p>

<pre><code>rbxmk doc types/Instance:Methods/FindFirstChild</code></pre>

<p>This reference will start at the top-level "types" topic, then drill into the
"Instance" sub-topic, then drill into the "Method" section, then the
"FindFirstChild" sub-section. The doc command will then display the content of
this sub-section only.</p>

<p>If the referred topic has no content, but has sub-topics, then these
sub-topics are listed instead (see --list). If no reference is specified, then
all top-level topics are listed.</p>

<p>The following top-level topics are available:</p>
<ul>
{{- range (ListFragments "")}}
	<li>{{.}}</li>
{{- end}}
</ul>

</section>

<section data-name="Flags">

<section data-name="export">

<p>Ensure that content is formatted for outputting elsewhere, rather than for
display in the terminal. Applies to the "terminal" format.</p>

</section>

<section data-name="format">

<p>Sets the output format of the produced fragment. Available formats are
"terminal", "html".</p>

</section>

<section data-name="list">

<p>Returns a list of sub-topics and sub-sections for the given reference. If no
reference is specified, then all top-level topics are listed.</p>

<p>The top-level sections of a topic will be prefixed with ":". Sub-topics and
sub-sections of sections will be prefixed with "/". That is, the whole name of a
listed item, including the prefix, can be appended to the current reference to
query that item.</p>

</section>

<section data-name="width">

<p>When possible, render formatted fragments with the given width, wrapping text
around. If 0, then no wrapping is applied. If less than 0, then the width is
based on the current context (for example, the "terminal" format renders with
the current width of the terminal).</p>

</section>

</section>
