<section data-name="Summary">

<p>Download an asset.</p>

</section>

<section data-name="Arguments">

<pre><code>[ FLAGS ] --id INT [ PATH ]</code></pre>

</section>

<section data-name="Description">

<p>The <b>download-asset</b> command downloads an asset from the roblox
website.</p>

<p>The <code>--id</code> flag, which is required, specifies the ID of the asset
to download.</p>

<p>The first non-flag argument is the path to a file to write to. If not
specified, then the file will be written to standard output.</p>

{{frag "flags/cookies:Description"}}

</section>

<section data-name="Flags">

<section data-name="file-format">

<p>The format to encode the file as. Defaults to --format.</p>

</section>

<section data-name="format">

<p>The format to decode the asset as.</p>

</section>

<section data-name="id">

<p>The ID of the asset to download (required).</p>

</section>

{{frag "flags/cookies:Flags"}}

</section>
