<section data-name="Summary">

<p>Display the version.</p>

</section>

<section data-name="Arguments">

</section>

<section data-name="Description">

<p>The <b>version</b> command displays the current version of rbxmk. The result
is formatted according to <a href="https://semver.org/">semantic versioning</a>.</p>

</section>

<section data-name="Flags">

<section data-name="format">

<p>Format of the version output. Available formats are "text", "json".</p>

</section>

<section data-name="verbose">

<p>Increase verbosity level by 1 for each time the flag is specified. Default is
level 0. Each level appends the following information:</p>

<table>
<thead>
<tr>
<th>Level</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>0</td>
<td>Includes program version.</td>
</tr>
<tr>
<td>1</td>
<td>Includes basic build information.</td>
</tr>
<tr>
<td>2</td>
<td>Includes detailed build information.</td>
</tr>
<tr>
<td>3</td>
<td>Includes module information.</td>
</tr>
</tbody>
</table>

</section>

</section>
