<section data-name="Summary">

<p>Encodes raw bytes.</p>

</section>

<section data-name="Description">

<p>The <b>bin</b> format encodes string-like values with the assurance that the
bytes will be interpreted exactly as-is.</p>

<table>
<thead>
<tr>
<th>Direction</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Decode</td>
<td>BinaryString</td>
<td>Raw binary data.</td>
</tr>
<tr>
<td>Encode</td>
<td>Stringable</td>
<td>Any string-like value.</td>
</tr>
</tbody>
</table>

</section>
