<section data-name="Summary">

<p>Encodes actions that transform descriptors.</p>

</section>

<section data-name="Description">

<p>The <b>desc-patch.json</b> format encodes actions that transform descriptors,
in JSON format.</p>

<table>
<thead>
<tr>
<th>Direction</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Decode</td>
<td>DescActions</td>
<td>A list of <a href="type:DescAction">DescAction</a> values.</td>
</tr>
<tr>
<td>Encode</td>
<td>DescActions</td>
<td>A list of <a href="type:DescAction">DescAction</a> values.</td>
</tr>
</tbody>
</table>

</section>
