<section data-name="Summary">

<p>Encodes descriptors.</p>

</section>

<section data-name="Description">

<p>The <b>desc.json</b> format encodes a root descriptor file, more commonly
known as an "API dump", in JSON format.</p>

<table>
<thead>
<tr>
<th>Direction</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Decode</td>
<td>[RootDesc][RootDesc]</td>
<td>A root descriptor.</td>
</tr>
<tr>
<td>Encode</td>
<td>[RootDesc][RootDesc]</td>
<td>A root descriptor.</td>
</tr>
</tbody>
</table>

<p>This format has no options.</p>

</section>
