<section data-name="Summary">

<p>Encodes LocalScripts.</p>

</section>

<section data-name="Description">

<p>The <b>localscript.luau</b> format is a shortcut for decoding Luau code into
a LocalScript instance, where the content is assigned to the Source
property.</p>

<table>
<thead>
<tr>
<th>Direction</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Decode</td>
<td><a href="type:Instance">Instance</a></td>
<td>A LocalScript with a Source property.</td>
</tr>
<tr>
<td>Encode</td>
<td>Stringable</td>
<td>Any string-like value.</td>
</tr>
</tbody>
</table>

</section>
