<section data-name="Summary">

<p>Encodes ModuleScripts.</p>

</section>

<section data-name="Description">

<p>The <b>lua</b> format is an alias for
[modulescript.lua][modulescript.lua].</p>

<table>
<thead>
<tr>
<th>Direction</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Decode</td>
<td>[Instance][Instance]</td>
<td>A ModuleScript with a Source property.</td>
</tr>
<tr>
<td>Encode</td>
<td>Stringable</td>
<td>Any string-like value.</td>
</tr>
</tbody>
</table>

<p>This format has no options.</p>

</section>
