<section data-name="Summary">

<p>Encodes ModuleScripts.</p>

</section>

<section data-name="Description">

<p>The <b>luau</b> format is an alias for
<a href="format:modulescript.luau">modulescript.luau</a>.</p>

<table>
<thead>
<tr>
<th>Direction</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Decode</td>
<td><a href="type:Instance">Instance</a></td>
<td>A ModuleScript with a Source property.</td>
</tr>
<tr>
<td>Encode</td>
<td>Stringable</td>
<td>Any string-like value.</td>
</tr>
</tbody>
</table>

</section>
