<section data-name="Summary">

<p>Encodes binary place data.</p>

</section>

<section data-name="Description">

<p>The <b>rbxl</b> format encodes Instances in the Roblox binary place
format.</p>

<table>
<thead>
<tr>
<th>Direction</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Decode</td>
<td><a href="type:DataModel">DataModel</a></td>
<td>A DataModel instance.</td>
</tr>
<tr>
<td>Encode</td>
<td><a href="type:DataModel">DataModel</a></td>
<td>A DataModel instance.</td>
</tr>
<tr>
<td>Encode</td>
<td><a href="type:Instance">Instance</a></td>
<td>A single instance, interpreted as a child to a DataModel.</td>
</tr>
<tr>
<td>Encode</td>
<td>Objects</td>
<td>A list of Instances, interpreted as children to a DataModel.</td>
</tr>
</tbody>
</table>

</section>
