<section data-name="Summary">

<p>Encodes binary model data.</p>

</section>

<section data-name="Description">

<p>The <b>rbxm</b> format encodes Instances in the Roblox binary model
format.</p>

<table>
<thead>
<tr>
<th>Direction</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Decode</td>
<td>[DataModel][DataModel]</td>
<td>A DataModel instance.</td>
</tr>
<tr>
<td>Encode</td>
<td>[DataModel][DataModel]</td>
<td>A DataModel instance.</td>
</tr>
<tr>
<td>Encode</td>
<td>[Instance][Instance]</td>
<td>A single instance, interpreted as a child to a DataModel.</td>
</tr>
<tr>
<td>Encode</td>
<td>Objects</td>
<td>A list of Instances, interpreted as children to a DataModel.</td>
</tr>
</tbody>
</table>

<p>This format has the same options as the [rbxl][rbxl] format.</p>

</section>
