<section data-name="Summary">

<p>Encodes Scripts.</p>

</section>

<section data-name="Description">

<p>The <b>script.lua</b> format is a shortcut for decoding Lua code into a
Script instance, where the content is assigned to the Source property.</p>

<table>
<thead>
<tr>
<th>Direction</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Decode</td>
<td><a href="type:Instance">Instance</a></td>
<td>A Script with a Source property.</td>
</tr>
<tr>
<td>Encode</td>
<td>Stringable</td>
<td>Any string-like value.</td>
</tr>
</tbody>
</table>

</section>
