<section data-name="Summary">

<p>Encodes Scripts.</p>

</section>

<section data-name="Description">

<p>The <b>server.luau</b> format is an alias for <a
href="format:script.luau">script.luau</a>.</p>

<table>
<thead>
<tr>
<th>Direction</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Decode</td>
<td><a href="type:Instance">Instance</a></td>
<td>A Script with a Source property.</td>
</tr>
<tr>
<td>Encode</td>
<td>Stringable</td>
<td>Any string-like value.</td>
</tr>
</tbody>
</table>

<p>This format has no options.</p>

</section>
