<section data-name="Summary">

<p>An interface to the clipboard.</p>

</section>

<section data-name="Description">

<p>The <b>clipboard</b> library provides an interface to the operating system's
clipboard.</p>

<p>$FIELDS</p>

<p><b>The clipboard is currently available only on Windows. Other operating
systems return no data.</b></p>

</section>

<section data-name="Fields">

<section data-name="read">

<section data-name="Summary">

<p>Gets data from the clipboard in one of a number of formats.</p>

</section>

<section data-name="Description">

<p>The <b>read</b> function gets a value from the clipboard according to one of
the given <a href="frag:formats">formats</a>.</p>

<p>Each format has a number of associated <a
href="https://en.wikipedia.org/wiki/Media_type">media types</a>. Each format is
traversed in order, and each media type within a format is traversed in order.
The data that matches the first media type found in the clipboard is selected.
This data is decoded by the format corresponding to the matched media type, and
the result is returned.</p>

<p>Throws an error if <i>value</i> could not be decoded from the format, or if
data could not be retrieved from the clipboard. If no data was found, then nil
is returned.</p>

</section>

</section>

<section data-name="write">

<section data-name="Summary">

<p>Sets data to the clipboard in a number of formats.</p>

</section>

<section data-name="Description">

<p>The <b>write</b> function sets <i>value</i> to the clipboard according to the
given <a href="frag:formats">formats</a>.</p>

<p>Each format has a number of associated <a
href="https://en.wikipedia.org/wiki/Media_type">media types</a>. For each
format, the data is encoded in the format, which is then sent to the clipboard
for each of the format's media type. Data is not sent for a media type if that
media type was already sent.</p>

<p>If no formats are given, then the clipboard is cleared with no further
action.</p>

<p>Throws an error if <i>value</i> could not be encoded in a format, or if data
could not be sent to the clipboard.</p>

</section>

</section>

</section>
