<section data-name="Summary">

<p>An interface to resources via HTTP.</p>

</section>

<section data-name="Description">

<p>The <b>http</b> library provides an interface to resources on the network via
HTTP.</p>

<p>$FIELDS</p>

</section>

<section data-name="Fields">

<section data-name="request">

<section data-name="Summary">

<p>Begins an HTTP request.</p>

</section>

<section data-name="Description">

<p>The <b>request</b> function begins a request with the specified
[options][HTTPOptions]. Returns a [request object][HTTPRequest] that may be
[resolved][HTTPRequest.Resolve] or [canceled][HTTPRequest.Cancel]. Throws an
error if the request could not be started.</p>

</section>

</section>

</section>
