<section data-name="Summary">

<p>Operations for handling JSON data.</p>

</section>

<section data-name="Description">

<p>The <b>json</b> library provides functions for handling JSON data.</p>

</section>

<section data-name="Fields">

<section data-name="diff">

<section data-name="Summary">

<p>Get difference between two JSON values.</p>

</section>

<section data-name="Description">

<p>The <b>diff</b> function returns a patch that represents the transformation
of <i>prev</i> to <i>next</i>. This patch can be applied with
<code>json.patch</code>.</p>

</section>

</section>

<section data-name="fromString">

<section data-name="Summary">

<p>Converts a string to a JSON value.</p>

</section>

<section data-name="Description">

<p>The <b>fromString</b> function attempts to convert <i>string</i> to a JSON
value. It is equivalent to <code>rbxmk.decodeFormat("json", string)</code></p>

</section>

</section>

<section data-name="patch">

<section data-name="Summary">

<p>Tranforms a JSON value according to a patch.</p>

</section>

<section data-name="Description">

<p>The <b>patch</b> function returns a copy of <i>value</i> that has been
transformed according to <i>patch</i>.</p>

</section>

</section>

</section>
