<section data-name="Summary">

<p>Extensions to the standard math library.</p>

</section>

<section data-name="Description">

<p>The <b>math</b> library is an extension to the standard library that includes
the same additions to <a
href="https://developer.roblox.com/en-us/api-reference/lua-docs/math">Roblox's
math library</a>:</p>

<p>$FIELDS</p>

</section>

<section data-name="Fields">

<section data-name="clamp">

<section data-name="Summary">

<p>Returns a number clamped between a minimum and maximum.</p>

</section>

<section data-name="Description">

<p>The <b>clamp</b> function returns <i>x</i> clamped so that it is not less
than <i>min</i> or greater than <i>max</i>.</p>

</section>

</section>

<section data-name="log">

<section data-name="Summary">

<p>Includes optional base argument.</p>

</section>

<section data-name="Description">

<p>The <b>log</b> function returns the logarithm of <i>x</i> in <i>base</i>. The
default for <i>base</i> is <code>e</code>, returning the natural logarithm of
<i>x</i>.</p>

</section>

</section>

<section data-name="round">

<section data-name="Summary">

<p>Rounds a number to the nearest integer.</p>

</section>

<section data-name="Description">

<p>The <b>round</b> function returns <i>x</i> rounded to the nearest integer.
The function rounds half away from zero.</p>

</section>

</section>

<section data-name="sign">

<section data-name="Summary">

<p>Returns the sign of a number.</p>

</section>

<section data-name="Description">

<p>The <b>sign</b> function returns the sign of <i>x</i>: <code>1</code> if
<i>x</i> is greater than zero, <code>-1</code> of <i>x</i> is less than zero,
and <code>0</code> if <i>x</i> equals zero.</p>

</section>

</section>

</section>
