<section data-name="Summary">

<p>Extensions to the standard os library.</p>

</section>

<section data-name="Description">

<p>The <b>os</b> library is an extension to the standard library.</p>

</section>

<section data-name="Fields">

<section data-name="getenv">

<section data-name="Summary">

<p>Gets an environment variable.</p>

</section>

<section data-name="Description">

<p>The <b>getenv</b> function returns the value of the <i>name</i> environment
variable, or nil if no such value is defined. If <i>name</i> is not specified,
then a table of environment variable names mapped to values is returned.</p>

</section>

</section>

</section>
