<section data-name="Summary">

<p>An environment emulating the Roblox Lua API.</p>

</section>

<section data-name="Description">

<p>The Roblox library contains an environment similar to the Roblox Lua API. It
is included directly into the global environment.</p>

</section>

<section data-name="Fields">

<section data-name="typeof">

<section data-name="Summary">

<p>Gets the internal type of a userdata.</p>

</section>

<section data-name="Description">

<p>The <b>typeof</b> function returns the type of a value. For userdata, the
internal value is returned. Other Lua values return the same as the type
function.</p>

</section>

</section>

</section>
