<section data-name="Summary">

<p>Extensions to the standard string library.</p>

</section>

<section data-name="Description">

<p>The <b>string</b> library is an extension to the standard library that
includes the same additions to
<a href="https://developer.roblox.com/en-us/api-reference/lua-docs/string">Roblox's string library</a>.</p>

</section>

<section data-name="Fields">

<section data-name="split">

<section data-name="Summary">

<p>Splits a string into a list of substrings.</p>

</section>

<section data-name="Description">

<p>The <b>split</b> function splits <i>s</i> into substrings separated by
<i>sep</i>.</p>

<p>If <i>sep</i> is nil, or if <i>sep</i> is not nil but not in <i>s</i>, then
split returns a table with <i>s</i> as its only element.</p>

<p>If <i>sep</i> is empty, then <i>s</i> is split after each UTF-8 sequence.</p>

<p><b>Note</b>: Roblox's implementation splits per byte, while this
implementation splits per UTF-8 character.</p>

</section>

</section>

</section>
