<section data-name="Summary">

<p>Symbols for accessing instance metadata.</p>

</section>

<section data-name="Description">

<p>The <b>sym</b> library contains <b>Symbol</b> values. A symbol is a unique
identifier that can be used to access certain metadata fields of an <a
href="type:Instance">Instance</a>.</p>

<p>An instance can be indexed with a symbol to get a metadata value in the same
way it can be indexed with a string to get a property value:</p>

<pre><code class="language-lua">local instance = Instance.new("Workspace")
instance[sym.IsService] = true
print(instance[sym.IsService]) --&gt; true
</code></pre>

</section>

<section data-name="Fields">

<section data-name="AttrConfig">

<section data-name="Summary">

<p>Gets the inherited <a href="type:AttrConfig">AttrConfig</a> of an
instance.</p>

</section>

<section data-name="Description">

<p>The <b>AttrConfig</b> symbol gets the inherited <a
href="type:AttrConfig">AttrConfig</a> of an instance.</p>

</section>

</section>

<section data-name="Desc">

<section data-name="Summary">

<p>Gets the inherited <a href="type:Desc">descriptor</a> of an instance.</p>

</section>

<section data-name="Description">

<p>The <b>Desc</b> symbol gets the inherited <a href="type:Desc">descriptor</a>
of an instance.</p>

</section>

</section>

<section data-name="IsService">

<section data-name="Summary">

<p>Determines whether an instance is a service.</p>

</section>

<section data-name="Description">

<p>The <b>IsService</b> symbol determines whether an instance is a service.</p>

</section>

</section>

<section data-name="Metadata">

<section data-name="Summary">

<p>Gets the metadata of a <a href="type:Instance">DataModel</a>.</p>

</section>

<section data-name="Description">

<p>The <b>Metadata</b> symbol gets the metadata of a <a
href="type:Instance">DataModel</a>.</p>

</section>

</section>

<section data-name="Properties">

<section data-name="Summary">

<p>Gets the properties of an instance.</p>

</section>

<section data-name="Description">

<p>The <b>Properties</b> symbol gets the properties of an instance.</p>

</section>

</section>

<section data-name="RawAttrConfig">

<section data-name="Summary">

<p>Accesses the direct <a href="type:AttrConfig">AttrConfig</a> of an
instance.</p>

</section>

<section data-name="Description">

<p>The <b>RawAttrConfig</b> symbol accesses the direct <a
href="type:AttrConfig">AttrConfig</a> of an instance.</p>

</section>

</section>

<section data-name="RawDesc">

<section data-name="Summary">

<p>Accesses the direct <a href="type:Desc">descriptor</a> of an instance.</p>

</section>

<section data-name="Description">

<p>The <b>RawDesc</b> symbol accesses the direct <a
href="type:Desc">descriptor</a> of an instance.</p>

</section>

</section>

<section data-name="Reference">

<section data-name="Summary">

<p>Determines the value used to identify the instance.</p>

</section>

<section data-name="Description">

<p>The <b>Reference</b> symbol determines the value used to identify the
instance.</p>

</section>

</section>

</section>
