<section data-name="Summary">

<p>Fallbacks for constructing certain types.</p>

</section>

<section data-name="Description">

<p>The <b>types</b> library contains functions for constructing explicit
primitives. The name of a function corresponds directly to the type. See <a
href="README.md#user-content-explicit-primitives">Explicit primitives</a> for
more information.</p>

<p>$FIELDS</p>

</section>

<section data-name="Fields">

<section data-name="BinaryString">

<section data-name="Summary">

<p>Creates an explicit BinaryString type.</p>

</section>

<section data-name="Description">

<p>The <b>BinaryString</b> constructor returns a new value that represents a
BinaryString value.</p>

</section>

</section>

<section data-name="Color3uint8">

<section data-name="Summary">

<p>Creates an explicit Color3uint8 type.</p>

</section>

<section data-name="Description">

<p>The <b>Color3uint8</b> constructor returns a new value that represents a
Color3uint8 value.</p>

</section>

</section>

<section data-name="Content">

<section data-name="Summary">

<p>Creates an explicit Content type.</p>

</section>

<section data-name="Description">

<p>The <b>Content</b> constructor returns a new value that represents a Content
value.</p>

</section>

</section>

<section data-name="ProtectedString">

<section data-name="Summary">

<p>Creates an explicit ProtectedString type.</p>

</section>

<section data-name="Description">

<p>The <b>ProtectedString</b> constructor returns a new value that represents a
ProtectedString value.</p>

</section>

</section>

<section data-name="SharedString">

<section data-name="Summary">

<p>Creates an explicit SharedString type.</p>

</section>

<section data-name="Description">

<p>The <b>SharedString</b> constructor returns a new value that represents a
SharedString value.</p>

</section>

</section>

<section data-name="float">

<section data-name="Summary">

<p>Creates an explicit float type.</p>

</section>

<section data-name="Description">

<p>The <b>float</b> constructor returns a new value that represents a float
value.</p>

</section>

</section>

<section data-name="int">

<section data-name="Summary">

<p>Creates an explicit int type.</p>

</section>

<section data-name="Description">

<p>The <b>int</b> constructor returns a new value that represents a int
value.</p>

</section>

</section>

<section data-name="int64">

<section data-name="Summary">

<p>Creates an explicit int64 type.</p>

</section>

<section data-name="Description">

<p>The <b>int64</b> constructor returns a new value that represents a int64
value.</p>

</section>

</section>

<section data-name="token">

<section data-name="Summary">

<p>Creates an explicit token type.</p>

</section>

<section data-name="Description">

<p>The <b>token</b> constructor returns a new value that represents a token
value.</p>

</section>

</section>

</section>
