<section data-name="cookies-from">

<p>Append cookies from a known location. See the documentation of <a
href="type:Cookie.from">Cookie.from</a> for a list of locations. Can be given
any number of times.</p>

</section>

<section data-name="cookies-file">

<p>Append cookies from a file. The file is formatted as a number of <a
href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie">Set-Cookie</a>
headers. Can be given any number of times.</p>

</section>

<section data-name="cookie-var">

<p>Append a cookie from an environment variable. The content is formatted as a
number of Set-Cookie headers. Can be given any number of times.</p>

</section>
