<section data-name="desc-file">

<p>Include the file located at `path` as a global descriptor. May be specified
any number of times. Multiple descriptors are merged in the order specified.</p>

</section>

<section data-name="desc-latest">

<p>Download and start with the latest API dump as the global descriptor.</p>

</section>

<section data-name="desc-patch">

<p>Include the file located at `path` as a patch to the global descriptor. May
be specified any number of times. Multiple patches are applied in the order
specified.</p>

</section>
