<section data-name="desc-file">

<p>Include the indicated file as a global descriptor. May be specified any
number of times. Multiple descriptors are merged.</p>

</section>

<section data-name="desc-latest">

<p>Include the latest API dump as a global descriptor. Multiple descriptors are
merged.</p>

</section>

<section data-name="desc-patch">

<p>Include the indicated file as a patch to the global descriptor. May be
specified any number of times. Multiple patches are applied in succession.</p>

</section>
q