<p>This document contains a reference to the libraries available to rbxmk
scripts.</p>

<p>$TOC</p>

<p><a href="https://lua.org/">Lua</a> scripts are used to perform actions in
rbxmk. The environment provided by rbxmk is packaged as a set of libraries. Some
libraries are loaded under a specific name, while others are loaded directly
into the global environment:</p>

<p>$LIBRARIES</p>

<p>The <b>_RBXMK_VERSION</b> global variable is defined as a string containing
the current version of rbxmk, formatted according to <a
href="https://semver.org/">semantic versioning</a>.</p>
