<!-- Fragments of command usage template. -->

<!-- Heading of section displaying usage. -->
<section data-name="Usage">Usage:</section>

<!-- Arguments displayed when command has subcommands. -->
<section data-name="Arguments">[command]</section>

<!-- Heading of section displaying aliases. -->
<section data-name="Aliases">Aliases:</section>

<!-- Heading of section displaying command examples. -->
<section data-name="Examples">Examples:</section>

<!-- Heading of section displaying subcommands. -->
<section data-name="Commands">Available Commands:</section>

<!-- Heading of section displaying flags. -->
<section data-name="Flags">Flags:</section>

<!-- Heading of section displaying global flags. -->
<section data-name="GlobalFlags">Global Flags:</section>

<!-- Heading of section displaying more help topics. -->
<section data-name="HelpTopics">Additional help topics:</section>

<!-- Trailing message describing the usage of the global --help flag. $COMMAND
is replaced by the usage of this flag. -->
<section data-name="MoreHelp">Use "$COMMAND" for more information about a command.</section>
