<section data-name="Summary">

<p>Configures instance attributes.</p>

</section>

<section data-name="Description">

<p>The <b>AttrConfig</b> type configures how an instance encodes and decodes
attributes.</p>

<p>$MEMBERS</p>

</section>

<section data-name="Constructors">

<section data-name="new">

<section data-name="Summary">

<p>Creates a new AttrConfig.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor creates a new AttrConfig. <i>property</i> sets the
[Property][AttrConfig.Property] field, defaulting to an empty string.</p>

</section>

</section>

</section>

<section data-name="Properties">

<section data-name="Property">

<section data-name="Summary">

<p>The property that attributes are applied to.</p>

</section>

<section data-name="Description">

<p>The <b>Property</b> property determines which property of an
[Instance][Instance] attributes are applied to. If an empty string, instances
will default to "AttributesSerialize".</p>

</section>

</section>

</section>
q