<section data-name="Summary">

<p>A set of active axes.</p>

</section>

<section data-name="Description">

<p>The <b>Axes</b> type represents a set of orthogonal coordinate axes that are
considered active. Corresponds to the <a
href="https://developer.roblox.com/en-us/api-reference/datatype/Axes">Axes</a>
type in Roblox.</p>

</section>

<section data-name="Constructors">

<section data-name="fromComponents">

<section data-name="Summary">

<p>Creates a new Axes with components set directly from each argument.</p>

</section>

<section data-name="Description">

<p>The <b>fromComponents</b> constructor returns a new Axes value, with each
argument setting the corresponding component.</p>

</section>

</section>

<section data-name="new">

<section data-name="Summary">

<p>Creates a new Axes with components set from a number of values.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a new Axes value. Each valid argument sets
a component of the value, depending on the type:</p>

<ul>
<li>EnumItem:
<ul>
<li>Enum name is <code>"Axis"</code>, and item name is <code>"X"</code>,
<code>"Y"</code>, or <code>"Z"</code>.</li>
<li>Enum name is <code>"NormalId"</code>, and item name is one of the following:
<ul>
<li><code>"Right"</code>, <code>"Left"</code>: sets X.</li>
<li><code>"Top"</code>, <code>"Bottom"</code>: sets Y.</li>
<li><code>"Back"</code>, <code>"Front"</code>: sets Z.</li>
</ul>
</li>
</ul>
</li>
<li>number: value is one of the following:
<ul>
<li><code>0</code>: sets X.</li>
<li><code>1</code>: sets Y.</li>
<li><code>2</code>: sets Z.</li>
</ul>
</li>
<li>string: value is <code>"X"</code>, <code>"Y"</code>, or
<code>"Z"</code>.</li>
</ul>

</section>

</section>

</section>

<section data-name="Properties">

<section data-name="Back">

<section data-name="Summary">

<p>Corresponds to the Z axes.</p>

</section>

<section data-name="Description">

<p>The <b>Back</b> field returns whether the Z axis is active.</p>

</section>

</section>

<section data-name="Bottom">

<section data-name="Summary">

<p>Corresponds to the Y axes.</p>

</section>

<section data-name="Description">

<p>The <b>Bottom</b> field returns whether the Y axis is active.</p>

</section>

</section>

<section data-name="Front">

<section data-name="Summary">

<p>Corresponds to the Z axes.</p>

</section>

<section data-name="Description">

<p>The <b>Front</b> field returns whether the Z axis is active.</p>

</section>

</section>

<section data-name="Left">

<section data-name="Summary">

<p>Corresponds to the X axes.</p>

</section>

<section data-name="Description">

<p>The <b>Left</b> field returns whether the X axis is active.</p>

</section>

</section>

<section data-name="Right">

<section data-name="Summary">

<p>Corresponds to the X axes.</p>

</section>

<section data-name="Description">

<p>The <b>Right</b> field returns whether the X axis is active.</p>

</section>

</section>

<section data-name="Top">

<section data-name="Summary">

<p>Corresponds to the Y axes.</p>

</section>

<section data-name="Description">

<p>The <b>Top</b> field returns whether the Y axis is active.</p>

</section>

</section>

<section data-name="X">

<section data-name="Summary">

<p>Whether the X axis is active.</p>

</section>

<section data-name="Description">

<p>The <b>X</b> field returns whether the X axis is active.</p>

</section>

</section>

<section data-name="Y">

<section data-name="Summary">

<p>Whether the Y axis is active.</p>

</section>

<section data-name="Description">

<p>The <b>Y</b> field returns whether the Y axis is active.</p>

</section>

</section>

<section data-name="Z">

<section data-name="Summary">

<p>Whether the Z axis is active.</p>

</section>

<section data-name="Description">

<p>The <b>Z</b> field returns whether the Z axis is active.</p>

</section>

</section>

</section>

<section data-name="Operators">

<section data-name="Eq">

<section data-name="Summary">

<p>Returns whether two Axes values are equal.</p>

</section>

<section data-name="Description">

<p>The <b>equal</b> operator returns true if both operands are Axes, and each
corresponding component is equal.</p>

</section>

</section>

</section>
