<section data-name="Summary">

<p>A color from a predefined collection.</p>

</section>

<section data-name="Description">

<p>The <b>BrickColor</b> type represents a color from a predefined
collection.</p>

</section>

<section data-name="Constructors">

<section data-name="Black">

<section data-name="Summary">

<p>Returns a black color.</p>

</section>

<section data-name="Description">

<p>The <b>Black</b> constructor returns the "Black" brick color.</p>

</section>

</section>

<section data-name="Blue">

<section data-name="Summary">

<p>Returns a blue color.</p>

</section>

<section data-name="Description">

<p>The <b>Blue</b> constructor returns the "Bright blue" brick color.</p>

</section>

</section>

<section data-name="DarkGray">

<section data-name="Summary">

<p>Returns a dark gray color.</p>

</section>

<section data-name="Description">

<p>The <b>DarkGray</b> constructor returns the "Dark stone grey" brick
color.</p>

</section>

</section>

<section data-name="Gray">

<section data-name="Summary">

<p>Returns a gray color.</p>

</section>

<section data-name="Description">

<p>The <b>Gray</b> constructor returns the "Medium stone grey" brick color.</p>

</section>

</section>

<section data-name="Green">

<section data-name="Summary">

<p>Returns a green color.</p>

</section>

<section data-name="Description">

<p>The <b>Green</b> constructor returns the "Dark green" brick color.</p>

</section>

</section>

<section data-name="Red">

<section data-name="Summary">

<p>Returns a red color.</p>

</section>

<section data-name="Description">

<p>The <b>Red</b> constructor returns the "Bright red" brick color.</p>

</section>

</section>

<section data-name="White">

<section data-name="Summary">

<p>Returns a white color.</p>

</section>

<section data-name="Description">

<p>The <b>White</b> constructor returns the "White" brick color.</p>

</section>

</section>

<section data-name="Yellow">

<section data-name="Summary">

<p>Returns a yellow color.</p>

</section>

<section data-name="Description">

<p>The <b>Yellow</b> constructor returns the "Bright yellow" brick color.</p>

</section>

</section>

<section data-name="new">

<section data-name="Number">

<section data-name="Summary">

<p>Creates a BrickColor from a numeric value.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns the BrickColor for which the Number field
is equal to <i>value</i>.</p>

</section>

</section>

<section data-name="Components">

<section data-name="Summary">

<p>Creates a BrickColor from color components.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns the BrickColor that is nearest to the
given color components.</p>

</section>

</section>

<section data-name="Name">

<section data-name="Summary">

<p>Creates a BrickColor from a name.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns the BrickColor for which the Name field is
equal to <i>name</i>.</p>

</section>

</section>

<section data-name="Color">

<section data-name="Summary">

<p>Creates a BrickColor from a Color3.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns the BrickColor that is nearest to
<i>color</i>.</p>

</section>

</section>

</section>

<section data-name="palette">

<section data-name="Summary">

<p>Returns a BrickColor from a predefined list of colors.</p>

</section>

<section data-name="Description">

<p>The <b>palette</b> constructors returns the BrickColor corresponding to
<i>index</i> in a predefined list of 128 colors. An error is thrown if
<i>index</i> is not between 0 and 127.</p>

</section>

</section>

<section data-name="random">

<section data-name="Summary">

<p>Returns a random BrickColor.</p>

</section>

<section data-name="Description">

<p>The <b>random</b> constructor returns a randomly selected BrickColor.</p>

</section>

</section>

</section>

<section data-name="Properties">

<section data-name="B">

<section data-name="Summary">

<p>The blue component.</p>

</section>

<section data-name="Description">

<p>The <b>B</b> field is the blue component of the BrickColor.</p>

</section>

</section>

<section data-name="Color">

<section data-name="Summary">

<p>The Color3 corresponding to the BrickColor.</p>

</section>

<section data-name="Description">

<p>The <b>Color</b> field is the Color3 value corresponding to the
BrickColor.</p>

</section>

</section>

<section data-name="G">

<section data-name="Summary">

<p>The green component.</p>

</section>

<section data-name="Description">

<p>The <b>G</b> field is the green component of the BrickColor.</p>

</section>

</section>

<section data-name="Name">

<section data-name="Summary">

<p>The name of the BrickColor.</p>

</section>

<section data-name="Description">

<p>The <b>Name</b> field is a name that describes the BrickColor.</p>

</section>

</section>

<section data-name="Number">

<section data-name="Summary">

<p>The numeric value of the BrickColor.</p>

</section>

<section data-name="Description">

<p>The <b>Number</b> field is a numeric value that uniquely identifies the
BrickColor.</p>

</section>

</section>

<section data-name="R">

<section data-name="Summary">

<p>The red component.</p>

</section>

<section data-name="Description">

<p>The <b>R</b> field is the red component of the BrickColor.</p>

</section>

</section>

</section>

<section data-name="Operators">

<section data-name="Eq">

<section data-name="Summary">

<p>Returns whether two BrickColor values are equal.</p>

</section>

<section data-name="Description">

<p>The <b>equal</b> operator returns true if both operands are BrickColor, and
their Number fields are equal.</p>

</section>

</section>

</section>
