<section data-name="Summary">

<p>Describes a callback.</p>

</section>

<section data-name="Description">

<p>The <b>CallbackDesc</b> type is a table that describes a callback member of a
class. It has the following fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>MemberType</td>
<td><a href="##">string</a></td>
<td>Indicates the type of member. Always "Callback".</td>
</tr>
<tr>
<td>Name</td>
<td><a href="##">string</a></td>
<td>The name of the member.</td>
</tr>
<tr>
<td>Parameters</td>
<td>{[ParameterDesc][ParameterDesc]}</td>
<td>The parameters of the callback.</td>
</tr>
<tr>
<td>ReturnType</td>
<td>[TypeDesc][TypeDesc]</td>
<td>The type of the value returned by the callback.</td>
</tr>
<tr>
<td>Security</td>
<td><a href="##">string</a></td>
<td>The security context required to set the member.</td>
</tr>
<tr>
<td>Tags</td>
<td>{<a href="##">string</a>}</td>
<td>The tags set for the member.</td>
</tr>
</tbody>
</table>

</section>
