<section data-name="Summary">

<p>Describes a class.</p>

</section>

<section data-name="Description">

<p>The <b>ClassDesc</b> type is a table that describes a class. It has the
following fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>MemoryCategory</td>
<td><a href="##">string</a></td>
<td>The category of the class.</td>
</tr>
<tr>
<td>Name</td>
<td><a href="##">string</a></td>
<td>The name of the class.</td>
</tr>
<tr>
<td>Superclass</td>
<td><a href="##">string</a></td>
<td>The name of the class from which the current class inherits.</td>
</tr>
<tr>
<td>Tags</td>
<td>{<a href="##">string</a>}</td>
<td>The tags set for the class.</td>
</tr>
</tbody>
</table>

</section>
