<section data-name="Summary">

<p>A color in RGB space.</p>

</section>

<section data-name="Description">

<p>The <b>Color3</b> type represents a color in RGB space.</p>

</section>

<section data-name="Constructors">

<section data-name="fromHSV">

<section data-name="Summary">

<p>Returns a Color3 from hue, saturation, and value.</p>

</section>

<section data-name="Description">

<p>The <b>fromHSV</b> constructor returns a Color3 from the given hue,
saturation, and value.</p>

</section>

</section>

<section data-name="fromRGB">

<section data-name="Summary">

<p>Returns a Color3 from 8-bit components.</p>

</section>

<section data-name="Description">

<p>The <b>fromRGB</b> constructor returns a Color3 from the given red, green,
and blue components, each having an interval of [0, 255].</p>

</section>

</section>

<section data-name="new">

<section data-name="Zero">

<section data-name="Summary">

<p>Returns the zero Color3.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns the zero value for Color3, with each
component being zero, resulting in the color black.</p>

</section>

</section>

<section data-name="Components">

<section data-name="Summary">

<p>Returns a Color3 from components.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a Color3 from the given red, green, and
blue components, each having an interval of [0, 1].</p>

</section>

</section>

</section>

</section>

<section data-name="Properties">

<section data-name="B">

<section data-name="Summary">

<p>The blue component.</p>

</section>

<section data-name="Description">

<p>The <b>B</b> field returns the blue component of the color.</p>

</section>

</section>

<section data-name="G">

<section data-name="Summary">

<p>The green component.</p>

</section>

<section data-name="Description">

<p>The <b>G</b> field returns the green component of the color.</p>

</section>

</section>

<section data-name="R">

<section data-name="Summary">

<p>The red component.</p>

</section>

<section data-name="Description">

<p>The <b>R</b> field returns the red component of the color.</p>

</section>

</section>

</section>

<section data-name="Methods">

<section data-name="Lerp">

<section data-name="Summary">

<p>Linearly interpolates between two colors.</p>

</section>

<section data-name="Description">

<p>The <b>Lerp</b> method returns a Color3 linearly interpolated from the color
to <i>goal</i> according to <i>alpha</i>, which has an interval of [0, 1].</p>

</section>

</section>

<section data-name="ToHSV">

<section data-name="Summary">

<p>Converts to hue, saturation, and value.</p>

</section>

<section data-name="Description">

<p>The <b>ToHSV</b> method returns the hue, saturation, and value approximated
from the color.</p>

</section>

</section>

</section>

<section data-name="Operators">

<section data-name="Eq">

<section data-name="Summary">

<p>Returns whether two Color3 values are equal.</p>

</section>

<section data-name="Description">

<p>The <b>equal</b> operator returns true if both operands are Color3, and each
corresponding component is equal.</p>

</section>

</section>

</section>
