<section data-name="Summary">

<p>An interpolated sequence of colors.</p>

</section>

<section data-name="Description">

<p>The <b>ColorSequence</b> type represents an interpolated sequence of
colors.</p>

</section>

<section data-name="Constructors">

<section data-name="new">

<section data-name="Single">

<p>Returns a sequence with a single color.</p>



<section data-name="Summary">

<p>The <b>new</b> constructor returns a ColorSequence with a single color.</p>

</section>

</section>

<section data-name="Range">

<section data-name="Summary">

<p>Returns a sequence with two colors.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a ColorSequence that interpolates between
<i>color0</i> and <i>color1</i>.</p>

</section>

</section>

<section data-name="Keypoints">

<section data-name="Summary">

<p>Returns a sequence composed of the given keypoints.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a ColorSequence composed from
<i>keypoints</i>. Each keypoint must be ordered ascending by their Time field.
The first keypoint must have a Time of 0, and the last keypoint must have a Time
of 1.</p>

</section>

</section>

</section>

</section>

<section data-name="Properties">

<section data-name="Keypoints">

<section data-name="Summary">

<p>The keypoints of the sequence.</p>

</section>

<section data-name="Description">

<p>The <b>Keypoints</b> field returns the ColorSequenceKeypoints of the
sequence.</p>

</section>

</section>

</section>

<section data-name="Operators">

<section data-name="Eq">

<section data-name="Summary">

<p>Returns whether two ColorSequence values are equal.</p>

</section>

<section data-name="Description">

<p>The <b>equal</b> operator returns true if both operands are ColorSequence,
and each corresponding keypoint is equivalent.</p>

</section>

</section>

</section>
