<section data-name="Summary">

<p>A collection of DescAction fields.</p>

</section>

<section data-name="Description">

<p>The <b>DescFields</b> type is a collection of DescAction fields. Each element
is a pair that maps a field name to a value.</p>

<p>The following value types are allowed:</p>

<table>
<thead>
<tr>
<th>Type</th>
<th>Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td>bool</td>
<td></td>
</tr>
<tr>
<td>number</td>
<td></td>
</tr>
<tr>
<td>string</td>
<td></td>
</tr>
<tr>
<td>TypeDesc</td>
<td>Table must contain "Category" and "Name" fields.</td>
</tr>
<tr>
<td>ParameterDesc</td>
<td>Field name must be "Parameters".</td>
</tr>
<tr>
<td>{string}</td>
<td>Field name must be "Tags".</td>
</tr>
</tbody>
</table>

</section>
