<section data-name="Summary">

<p>A collection of Enum values.</p>

</section>

<section data-name="Description">

<p>The <b>Enums</b> type is a collection of Enum values.</p>

</section>

<section data-name="Methods">

<section data-name="GetEnums">

<section data-name="Summary">

<p>Returns a list of Enum values.</p>

</section>

<section data-name="Description">

<p>The <b>GetEnums</b> method returns a list of Enum values in the
collection.</p>

</section>

</section>

</section>

<section data-name="Operators">

<section data-name="Index">

<section data-name="Summary">

<p>Gets an Enum by name.</p>

</section>

<section data-name="Description">

<p>The <b>index</b> operator returns an enum in the collection indexed by
name.</p>

</section>

</section>

</section>
