<section data-name="Summary">

<p>Describes an enum item.</p>

</section>

<section data-name="Description">

<p>The <b>EnumitemDesc</b> type is a table that describes an item of an enum. It
has the following fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Index</td>
<td><a href="##">int</a></td>
<td>Hints the order of the item..</td>
</tr>
<tr>
<td>Name</td>
<td><a href="##">string</a></td>
<td>The name of the item.</td>
</tr>
<tr>
<td>Tags</td>
<td>{<a href="##">string</a>}</td>
<td>The tags set for the item.</td>
</tr>
<tr>
<td>Value</td>
<td><a href="##">int</a></td>
<td>The numeric value of the item.</td>
</tr>
</tbody>
</table>

</section>
