<section data-name="Summary">

<p>A single item of an Enum.</p>

</section>

<section data-name="Description">

<p>The <b>EnumItem</b> type represents a single item of an Enum.</p>

</section>

<section data-name="Properties">

<section data-name="EnumType">

<section data-name="Summary">

<p>The Enum of the item.</p>

</section>

<section data-name="Description">

<p>The <b>EnumType</b> field returns the Enum of the item.</p>

</section>

</section>

<section data-name="Name">

<section data-name="Description">

<p>The <b>Name</b> field returns the name of the item.</p>

</section>

</section>

<section data-name="Value">

<section data-name="Description">

<p>The <b>Value</b> field returns the value of the item.</p>

</section>

</section>

</section>

<section data-name="Methods">

<section data-name="IsA">

<section data-name="Summary">

<p>Returns whether the item belongs to an enum.</p>

</section>

<section data-name="Description">

<p>The <b>IsA</b> method returns whether the item belongs to an enum of the name
<i>enumName</i>.</p>

</section>

</section>

</section>
