<section data-name="Summary">

<p>A set of named values.</p>

</section>

<section data-name="Description">

<p>The <b>Enum</b> type is a set of named values.</p>

</section>

<section data-name="Methods">

<section data-name="GetEnumItems">

<section data-name="Summary">

<p>Returns the items of the enum.</p>

</section>

<section data-name="Description">

<p>The <b>GetEnumItems</b> method returns a list of items of the enum.</p>

</section>

</section>

</section>

<section data-name="Operators">

<section data-name="Index">

<section data-name="Summary">

<p>Gets an item by name.</p>

</section>

<section data-name="Description">

<p>The <b>index</b> operator returns an item of the enum indexed by name.</p>

</section>

</section>

</section>
