<section data-name="Summary">

<p>Describes an event class member.</p>

</section>

<section data-name="Description">

<p>The <b>EventDesc</b> type is a table that describes a event member of a
class. It has the following fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>MemberType</td>
<td><a href="##">string</a></td>
<td>Indicates the type of member. Always "Event".</td>
</tr>
<tr>
<td>Name</td>
<td><a href="##">string</a></td>
<td>The name of the member.</td>
</tr>
<tr>
<td>Parameters</td>
<td>{[ParameterDesc][ParameterDesc]}</td>
<td>The parameters of the event.</td>
</tr>
<tr>
<td>Security</td>
<td><a href="##">string</a></td>
<td>The security context required to get the member.</td>
</tr>
<tr>
<td>Tags</td>
<td>{<a href="##">string</a>}</td>
<td>The tags set for the member.</td>
</tr>
</tbody>
</table>

</section>
