<section data-name="Summary">

<p>A set of active directions.</p>

</section>

<section data-name="Description">

<p>The <b>Faces</b> type represents a set of directions, on three orthogonal
axes, that are considered active. Corresponds to the <a
href="https://developer.roblox.com/en-us/api-reference/datatype/Faces">Faces</a>
type in Roblox.</p>

</section>

<section data-name="Constructors">

<section data-name="fromComponents">

<section data-name="Summary">

<p>Creates a new Faces with components set directly from each argument.</p>

</section>

<section data-name="Description">

<p>The <b>fromComponents</b> constructor returns a new Faces value, with each
argument setting the corresponding component.</p>

</section>

</section>

<section data-name="new">

<section data-name="Summary">

<p>Creates a new Faces with components set from a number of values.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a new Faces value. Each valid argument
sets a component of the value, depending on the type:</p>

<ul>
<li>EnumItem:
<ul>
<li>Enum name is <code>"Axis"</code>, and item name is one of the following:
<ul>
<li><code>"X"</code>: sets Right and Left.</li>
<li><code>"Y"</code>: sets Top and Bottom.</li>
<li><code>"Z"</code>: sets Back and Front.</li>
</ul>
</li>
<li>Enum name is <code>"NormalId"</code>, and item name is <code>"Right"</code>,
<code>"Top"</code>, <code>"Back"</code>, <code>"Left"</code>,
<code>"Bottom"</code>, or <code>"Front"</code>.</li>
</ul>
</li>
<li>number: value is one of the following:
<ul>
<li><code>0</code>: sets Right.</li>
<li><code>1</code>: sets Top.</li>
<li><code>2</code>: sets Back.</li>
<li><code>3</code>: sets Left.</li>
<li><code>4</code>: sets Bottom.</li>
<li><code>5</code>: sets Front.</li>
</ul>
</li>
<li>string: value is <code>"Right"</code>, <code>"Top"</code>,
<code>"Back"</code>, <code>"Left"</code>, <code>"Bottom"</code>, or
<code>"Front"</code>.</li>
</ul>

</section>

</section>

</section>

<section data-name="Properties">

<section data-name="Back">

<section data-name="Summary">

<p>Whether the back face is active.</p>

</section>

<section data-name="Description">

<p>The <b>Back</b> field returns whether the back face is active.</p>

</section>

</section>

<section data-name="Bottom">

<section data-name="Summary">

<p>Whether the bottom face is active.</p>

</section>

<section data-name="Description">

<p>The <b>Bottom</b> field returns whether the bottom face is active.</p>

</section>

</section>

<section data-name="Front">

<section data-name="Summary">

<p>Whether the front face is active.</p>

</section>

<section data-name="Description">

<p>The <b>Front</b> field returns whether the front face is active.</p>

</section>

</section>

<section data-name="Left">

<section data-name="Summary">

<p>Whether the left face is active.</p>

</section>

<section data-name="Description">

<p>The <b>Left</b> field returns whether the left face is active.</p>

</section>

</section>

<section data-name="Right">

<section data-name="Summary">

<p>Whether the right face is active.</p>

</section>

<section data-name="Description">

<p>The <b>Right</b> field returns whether the right face is active.</p>

</section>

</section>

<section data-name="Top">

<section data-name="Summary">

<p>Whether the top face is active.</p>

</section>

<section data-name="Description">

<p>The <b>Top</b> field returns whether the top face is active.</p>

</section>

</section>

</section>

<section data-name="Operators">

<section data-name="Eq">

<section data-name="Summary">

<p>Returns whether two Faces values are equal.</p>

</section>

<section data-name="Description">

<p>The <b>equal</b> operator returns true if both operands are Faces, and each
corresponding component is equal.</p>

</section>

</section>

</section>
