<section data-name="Summary">

<p>The font used to render text.</p>

</section>

<section data-name="Description">

<p>The <b>Font</b> type represents the description of a font.</p>

</section>

<section data-name="Constructors">

<section data-name="new">

<section data-name="Summary">

<p>Creates a new Font.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a Font composed of the components from
each argument.</p>

</section>

</section>

</section>

<section data-name="Properties">

<section data-name="CachedFaceId">

<section data-name="Summary">

<p>A sequential value.</p>

</section>

<section data-name="Description">

<p>The <b>CachedFaceId</b> property is an internal value representing a path to
resolved font data.</p>

</section>

</section>

<section data-name="Family">

<section data-name="Summary">

<p>Path to a font family.</p>

</section>

<section data-name="Description">

<p>The <b>Family</b> property points to a font file.</p>

</section>

</section>

<section data-name="Weight">

<section data-name="Summary">

<p>The weight of font text.</p>

</section>

<section data-name="Description">

<p>The <b>Weight</b> property determines the thickness of the text. The value is
a standard <a
href="https://learn.microsoft.com/en-us/typography/opentype/spec/os2#usweightclass">OpenType
weight value</a>, where 400 is regular, 700 is bold, 100 is thin, and 900 is
heavy.</p>

</section>

</section>

<section data-name="Style">

<section data-name="Summary">

<p>Whether the text is italic.</p>

</section>

<section data-name="Description">

<p>The <b>Style</b> property determines whether the text is italic. 0 means
normal, and 1 means italic.</p>

</section>

</section>

<section data-name="Operators">

<section data-name="Eq">

<section data-name="Summary">

<p>Returns whether two Font values are equal.</p>

</section>

<section data-name="Description">

<p>The <b>equal</b> operator returns true if both operands are Font, and each
corresponding component is equal.</p>

</section>

</section>

</section>
