<section data-name="Summary">

<p>Selects a format with an optional configuration.</p>

</section>

<section data-name="Description">

<p>The <b>FormatSelector</b> type selects a <a href="frag:formats">format</a>,
and optionally configures the format.</p>

<p>If a table, then the Format field indicates the name of the format to use,
and remaining fields are options that configure the format, which depend on the
format specified. All such fields are optional.</p>

<p>If a string, it is the name of the format to use, and specifies no
options.</p>

</section>
