<section data-name="Summary">

<p>Represents a pending HTTP request.</p>

</section>

<section data-name="Description">

<p>The <b>HttpRequest</b> type represents a pending HTTP request. It has the
following members:</p>

<p>$MEMBERS</p>

</section>

<section data-name="Methods">

<section data-name="Cancel">

<section data-name="Summary">

<p>Cancels the pending request.</p>

</section>

<section data-name="Description">

<p>The <b>Cancel</b> method cancels the pending request.</p>

</section>

</section>

<section data-name="Resolve">

<section data-name="Summary">

<p>Returns the response to the request.</p>

</section>

<section data-name="Description">

<p>The <b>Resolve</b> method blocks until the request has finished, and returns
the response. Throws an error if a problem occurred while resolving the
request.</p>

</section>

</section>

</section>
