<section data-name="Summary">

<p>A keypoint of a NumberSequence.</p>

</section>

<section data-name="Description">

<p>The <b>NumberSequenceKeypoint</b> type represents a single keypoint of a
NumberSequence.</p>

</section>

<section data-name="Constructors">

<section data-name="new">

<section data-name="Components">

<section data-name="Summary">

<p>Creates a new keypoint.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a new NumberSequenceKeypoint, <i>time</i>
sets the Time field, and <i>value</i> sets the Value field.</p>

</section>

</section>

<section data-name="Envelope">

<section data-name="Summary">

<p>Creates a new keypoint with an envelope.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a new NumberSequenceKeypoint, <i>time</i>
sets the Time field, <i>value</i> sets the Value field, and <i>envelope</i> sets
the Envelope field.</p>

</section>

</section>

</section>

</section>

<section data-name="Properties">

<section data-name="Envelope">

<section data-name="Summary">

<p>The amount of variance allowed from the Value.</p>

</section>

<section data-name="Description">

<p>The <b>Envelope</b> field returns the amount of variance allowed from the
value.</p>

</section>

</section>

<section data-name="Time">

<section data-name="Summary">

<p>The time location along the sequence.</p>

</section>

<section data-name="Description">

<p>The <b>Time</b> field returns the temporal location of the keypoint in the
sequence. Has an interval of [0, 1].</p>

</section>

</section>

<section data-name="Value">

<section data-name="Summary">

<p>The base value.</p>

</section>

<section data-name="Description">

<p>The <b>Value</b> field returns the base value of the keypoint.</p>

</section>

</section>

</section>

<section data-name="Operators">

<section data-name="Eq">

<section data-name="Summary">

<p>Returns whether two NumberSequenceKeypoint values are equal.</p>

</section>

<section data-name="Description">

<p>The <b>equal</b> operator returns true if both operands are
NumberSequenceKeypoint, and each corresponding component is equal.</p>

</section>

</section>

</section>
