<section data-name="Summary">

<p>A range of numbers.</p>

</section>

<section data-name="Description">

<p>The <b>NumberRange</b> type represents a range of numbers between a minimum
and maximum.</p>

</section>

<section data-name="Constructors">

<section data-name="new">

<section data-name="Single">

<section data-name="Summary">

<p>Returns a range with a single value.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a NumberRange where <i>value</i> is both
the minimum and maximum.</p>

</section>

</section>

<section data-name="Range">

<section data-name="Summary">

<p>Returns a range with between two values.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a NumberRange where <i>minimum</i> is the
minimum value and <i>maximum</i> is the maximum value. Throws an error if
<i>minimum</i> is greater than <i>maximum</i>.</p>

</section>

</section>

</section>

</section>

<section data-name="Properties">

<section data-name="Max">

<section data-name="Summary">

<p>The maximum value.</p>

</section>

<section data-name="Description">

<p>The <b>Max</b> field returns the maximum possible value in the range.</p>

</section>

</section>

<section data-name="Min">

<section data-name="Summary">

<p>The minimum value.</p>

</section>

<section data-name="Description">

<p>The <b>Min</b> field returns the minimum possible value in the range.</p>

</section>

</section>

</section>

<section data-name="Operators">

<section data-name="Eq">

<section data-name="Summary">

<p>Returns whether two NumberRange values are equal.</p>

</section>

<section data-name="Description">

<p>The <b>equal</b> operator returns true if both operands are NumberRange, and
each corresponding component is equal.</p>

</section>

</section>

</section>
