<section data-name="Summary">

<p>Describes a parameter.</p>

</section>

<section data-name="Description">

<p>The <b>ParameterDesc</b> type describes a parameter of a function, event, or
callback member. It has the following members:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Type</td>
<td><a href="type:TypeDesc">TypeDesc</a></td>
<td>The type of the parameter.</td>
</tr>
<tr>
<td>Name</td>
<td><a href="type:string">string</a></td>
<td>The name of the parameter.</td>
</tr>
<tr>
<td>Default</td>
<td><a href="type:string">string</a>?</td>
<td>Describes the default value of the parameter. If nil, then the parameter has
no default value.</td>
</tr>
</tbody>
</table>

</section>
