<section data-name="Summary">

<p>The physical properties of an object.</p>

</section>

<section data-name="Description">

<p>The <b>PhysicalProperties</b> type represents the physical properties of an
object.</p>

</section>

<section data-name="Constructors">

<section data-name="new">

<section data-name="Components">

<section data-name="Summary">

<p>Returns properties with density, friction, and elasticity.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a new PhysicalProperties value.
<i>density</i> sets the Density field, <i>friction</i> sets the Friction field,
and <i>elasticity</i> sets the Elasticity field.</p>

</section>

</section>

<section data-name="Weights">

<section data-name="Description">

<p>The <b>new</b> constructor returns a new PhysicalProperties value.
<i>density</i> sets the Density field, <i>friction</i> sets the Friction field,
<i>elasticity</i> sets the Elasticity field, <i>frictionWeight</i> sets the
FrictionWeight field, and <i>elasticityWeight</i> sets the ElasticityWeight
field.</p>

</section>

</section>

</section>

</section>

<section data-name="Properties">

<section data-name="Density">

<section data-name="Summary">

<p>The mass per unit volume.</p>

</section>

<section data-name="Description">

<p>The <b>Density</b> field returns the mass for unit volume of the object.</p>

</section>

</section>

<section data-name="Elasticity">

<section data-name="Summary">

<p>How much energy is retained after a collision.</p>

</section>

<section data-name="Description">

<p>The <b>Elasticity</b> field returns how much energy is retained after a
collision. A value of 1 means the same energy is retained.</p>

</section>

</section>

<section data-name="ElasticityWeight">

<section data-name="Summary">

<p>The ratio baised towards the object for elasticity calculations.</p>

</section>

<section data-name="Description">

<p>The <b>ElasticityWeight</b> field returns how much the ratio of an elasticity
calculation is baised towards the object during a collision.</p>

</section>

</section>

<section data-name="Friction">

<section data-name="Summary">

<p>The force that opposes lateral motion.</p>

</section>

<section data-name="Description">

<p>The <b>Friction</b> field returns how much force is used to oppose lateral
motion between two contacting surfaces.</p>

</section>

</section>

<section data-name="FrictionWeight">

<section data-name="Summary">

<p>The ratio baised towards the object for friction calculations.</p>

</section>

<section data-name="Description">

<p>The <b>FrictionWeight</b> field returns how much the ratio of a friction
calculation is baised towards the object during a collision.</p>

</section>

</section>

</section>
