<section data-name="Summary">

<p>Describes a property class member.</p>

</section>

<section data-name="Description">

<p>The <b>PropertyDesc</b> type is a table that describes a property member of a
class. It has the following fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>CanLoad</td>
<td><a href="##">string</a></td>
<td>Whether the property is deserialized.</td>
</tr>
<tr>
<td>CanSave</td>
<td><a href="##">string</a></td>
<td>Whether the property is serialized.</td>
</tr>
<tr>
<td>MemberType</td>
<td><a href="##">string</a></td>
<td>Indicates the type of member. Always "Property".</td>
</tr>
<tr>
<td>Name</td>
<td><a href="##">string</a></td>
<td>The name of the member.</td>
</tr>
<tr>
<td>ReadSecurity</td>
<td><a href="##">string</a></td>
<td>The security context required to get the member.</td>
</tr>
<tr>
<td>Tags</td>
<td>{<a href="##">string</a>}</td>
<td>The tags set for the member.</td>
</tr>
<tr>
<td>ValueType</td>
<td>[TypeDesc][TypeDesc]</td>
<td>The type of the value of the property.</td>
</tr>
<tr>
<td>WriteSecurity</td>
<td><a href="##">string</a></td>
<td>The security context required to set the member.</td>
</tr>
</tbody>
</table>

</section>
