<section data-name="Summary">

<p>A line extending infinitely in one direction.</p>

</section>

<section data-name="Description">

<p>The <b>Ray</b> type represents a line that extends infinitely in one
direction.</p>

</section>

<section data-name="Constructors">

<section data-name="new">

<section data-name="Summary">

<p>Creates a new Ray.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a Ray, where <i>origin</i> sets the
Origin, and <i>direction</i> sets the Direction.</p>

</section>

</section>

</section>

<section data-name="Properties">

<section data-name="Direction">

<section data-name="Summary">

<p>The direction of the ray.</p>

</section>

<section data-name="Description">

<p>The <b>Direction</b> field returns the direction of the ray.</p>

</section>

</section>

<section data-name="Origin">

<section data-name="Summary">

<p>The position of the ray.</p>

</section>

<section data-name="Description">

<p>The <b>Origin</b> field returns the position of the ray.</p>

</section>

</section>

</section>

<section data-name="Methods">

<section data-name="ClosestPoint">

<section data-name="Summary">

<p>Returns the nearest point on the ray.</p>

</section>

<section data-name="Description">

<p>The <b>ClosestPoint</b> method returns the position on the ray that is
nearest to <i>point</i>.</p>

</section>

</section>

<section data-name="Distance">

<section data-name="Summary">

<p>Returns distance to the nearest point on the ray.</p>

</section>

<section data-name="Description">

<p>The <b>Distance</b> method returns the distance between <i>point</i> and the
point on the ray nearest to <i>point</i>.</p>

</section>

</section>

</section>

<section data-name="Operators">

<section data-name="Eq">

<section data-name="Summary">

<p>Returns whether two Ray values are equal.</p>

</section>

<section data-name="Description">

<p>The <b>equal</b> operator returns true if both operands are Ray, and each
corresponding component is equal.</p>

</section>

</section>

</section>
