<section data-name="Summary">

<p>Specifies the options of an asset request.</p>

</section>

<section data-name="Description">

<p>The <b>RBXAssetOptions</b> type is a table that specifies the options of a
request to an asset on the Roblox website. It has the following fields:</p>

<table>
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>AssetID</td>
<td><a href="type:int64">int64</a></td>
<td>The ID of the asset to request.</td>
</tr>
<tr>
<td>Cookies</td>
<td><a href="type:Cookies">Cookies</a>?</td>
<td>Optional cookies to send with requests, usually used for
authentication.</td>
</tr>
<tr>
<td>Format</td>
<td><a href="type:FormatSelector">FormatSelector</a></td>
<td>The format used to encode or decode an asset.</td>
</tr>
<tr>
<td>Body</td>
<td>any?</td>
<td>The body of an asset, to be encoded by the specified format.</td>
</tr>
</tbody>
</table>

</section>
