<section data-name="Summary">

<p>An axis-aligned rectangle.</p>

</section>

<section data-name="Description">

<p>The <b>Rect</b> type represents an axis-aligned two-dimensional rectangle
with a lower and upper boundary.</p>

</section>

<section data-name="Constructors">

<section data-name="new">

<section data-name="Vector2">

<section data-name="Summary">

<p>Returns a Rect composed by two Vector2s.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a Rect composed by two Vector2s.
<i>min</i> is the lower bounds, and <i>max</i> is the upper bounds.</p>

</section>

</section>

<section data-name="Components">

<section data-name="Summary">

<p>Returns a Rect composed by boundary components. <i>minX</i> and <i>minY</i>
compose the lower bounds, and <i>maxX</i> and <i>maxY</i> compose the upper
bounds.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a Rect composed by boundary
components.</p>

</section>

</section>

</section>

</section>

<section data-name="Properties">

<section data-name="Height">

<section data-name="Summary">

<p>The height of the rectangle.</p>

</section>

<section data-name="Description">

<p>The <b>Height</b> field returns the height of the rectangle, or the
difference between the upper and lower bounds on the Y axis.</p>

</section>

</section>

<section data-name="Max">

<section data-name="Summary">

<p>The upper bounds of the rectangle.</p>

</section>

<section data-name="Description">

<p>The <b>Max</b> field returns the upper bounds of the rectangle.</p>

</section>

</section>

<section data-name="Min">

<section data-name="Summary">

<p>The lower bounds of the rectangle.</p>

</section>

<section data-name="Description">

<p>The <b>Min</b> field returns the lower bounds of the rectangle.</p>

</section>

</section>

<section data-name="Width">

<section data-name="Summary">

<p>The width of the rectangle.</p>

</section>

<section data-name="Description">

<p>The <b>Width</b> field returns the width of the rectangle, or the difference
between the upper and lower bounds on the X axis.</p>

</section>

</section>

</section>

<section data-name="Operators">

<section data-name="Eq">

<section data-name="Summary">

<p>Returns whether two Rect values are equal.</p>

</section>

<section data-name="Description">

<p>The <b>equal</b> operator returns true if both operands are Rect, and each
corresponding component is equal.</p>

</section>

</section>

</section>
