<section data-name="Summary">

<p>A dimension with a dynamic and constant component.</p>

</section>

<section data-name="Description">

<p>The <b>UDim</b> type represents one dimension with a dynamic and constant
component.</p>

</section>

<section data-name="Constructors">

<section data-name="new">

<section data-name="Summary">

<p>Returns a new UDim.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a new UDim. <i>scale</i> sets the Scale
component, and <i>offset</i> sets the Offset component.</p>

</section>

</section>

</section>

<section data-name="Properties">

<section data-name="Offset">

<section data-name="Summary">

<p>The constant component.</p>

</section>

<section data-name="Description">

<p>The <b>Offset</b> field returns the constant component of the UDim.</p>

</section>

</section>

<section data-name="Scale">

<section data-name="Summary">

<p>The dynamic component.</p>

</section>

<section data-name="Description">

<p>The <b>Scale</b> field returns the dynamic component of the UDim.</p>

</section>

</section>

</section>

<section data-name="Operators">

<section data-name="Add">

<section data-name="Summary">

<p>The sum of two UDim values.</p>

</section>

<section data-name="Description">

<p>The <b>add</b> operator returns a UDim where each corresponding component of
the two operands are summed.</p>

</section>

</section>

<section data-name="Sub">

<section data-name="Summary">

<p>The difference between two UDim values.</p>

</section>

<section data-name="Description">

<p>The <b>sub</b> operator returns a UDim where each corresponding component of
the two operands are subtracted.</p>

</section>

</section>

<section data-name="Eq">

<section data-name="Summary">

<p>Returns whether two UDim values are equal.</p>

</section>

<section data-name="Description">

<p>The <b>equal</b> operator returns true if both operands are UDim, and each
corresponding component is equal.</p>

</section>

</section>

<section data-name="Unm">

<section data-name="Summary">

<p>The negation of the UDim.</p>

</section>

<section data-name="Description">

<p>The <b>unm</b> operator returns a UDim where each component is negated.</p>

</section>

</section>

</section>
