<section data-name="Summary">

<p>A UDim on two dimensions.</p>

</section>

<section data-name="Description">

<p>The <b>UDim2</b> type represents a UDim on two dimensions.</p>

</section>

<section data-name="Constructors">

<section data-name="fromOffset">

<section data-name="Summary">

<p>Returns a UDim2 from offset components.</p>

</section>

<section data-name="Description">

<p>The <b>fromOffset</b> constructor returns a UDim2 that sets the offset
components of each dimension.</p>

</section>

</section>

<section data-name="fromScale">

<section data-name="Summary">

<p>Returns a UDim2 from scale components.</p>

</section>

<section data-name="Description">

<p>The <b>fromScale</b> constructor returns a UDim2 that sets the scale
components of each dimension.</p>

</section>

</section>

<section data-name="new">

<section data-name="Components">

<section data-name="Summary">

<p>Returns a UDim2 from components.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a UDim2 composed from the components of
each UDim.</p>

</section>

</section>

<section data-name="UDim">

<section data-name="Summary">

<p>Returns a UDim2 from UDims.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a UDim2 composed from two UDim values.</p>

</section>

</section>

</section>

</section>

<section data-name="Properties">

<section data-name="Height">

<section data-name="Summary">

<p>The height of the UDim2.</p>

</section>

<section data-name="Description">

<p>The <b>Height</b> field returns the Y dimension of the UDim2.</p>

</section>

</section>

<section data-name="Width">

<section data-name="Summary">

<p>The width of the UDim2.</p>

</section>

<section data-name="Description">

<p>The <b>Width</b> field returns the X dimension of the UDim2.</p>

</section>

</section>

<section data-name="X">

<section data-name="Summary">

<p>The X dimension.</p>

</section>

<section data-name="Description">

<p>The <b>X</b> field returns the X dimension of the UDim2.</p>

</section>

</section>

<section data-name="Y">

<section data-name="Summary">

<p>The Y dimension.</p>

</section>

<section data-name="Description">

<p>The <b>Y</b> field returns the Y dimension of the UDim2.</p>

</section>

</section>

</section>

<section data-name="Methods">

<section data-name="Lerp">

<section data-name="Summary">

<p>Lineearly interpolates between two UDim2 values.</p>

</section>

<section data-name="Description">

<p>The <b>Lerp</b> method returns a UDim2 linearly interpolated from the UDim2
to <i>goal</i> according to <i>alpha</i>, which has an interval of [0, 1].</p>

</section>

</section>

</section>

<section data-name="Operators">

<section data-name="Add">

<section data-name="Summary">

<p>The sum of two UDim2 values.</p>

</section>

<section data-name="Description">

<p>The <b>add</b> operator returns a UDim2 where each corresponding component of
the two operands are summed.</p>

</section>

</section>

<section data-name="Sub">

<section data-name="Summary">

<p>The difference between two UDim values.</p>

</section>

<section data-name="Description">

<p>The <b>sub</b> operator returns a UDim2 where each corresponding component of
the two operands are subtracted.</p>

</section>

</section>

<section data-name="Eq">

<section data-name="Summary">

<p>Returns whether two UDim2 values are equal.</p>

</section>

<section data-name="Description">

<p>The <b>equal</b> operator returns true if both operands are UDim2, and each
corresponding component is equal.</p>

</section>

</section>

<section data-name="Unm">

<section data-name="Summary">

<p>The negation of the UDim2.</p>

</section>

<section data-name="Description">

<p>The <b>unm</b> operator returns a UDim2 where each component is negated.</p>

</section>

</section>

</section>
