<section data-name="Summary">

<p>A two-dimensional Euclidean vector with 16-bit integer precision.</p>

</section>

<section data-name="Description">

<p>The <b>Vector2int16</b> type represents a two-dimensional Euclidean vector
with 16-bit integer precision.</p>

</section>

<section data-name="Constructors">

<section data-name="new">

<section data-name="Zero">

<section data-name="Summary">

<p>Returns the zero vector.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns the origin vector, where each coordinate
is 0.</p>

</section>

</section>

<section data-name="Components">

<section data-name="Summary">

<p>Returns a vector composed by each given coordinate.</p>

</section>

<section data-name="Description">

<p>The <b>new</b> constructor returns a vector composed by each given
component.</p>

</section>

</section>

</section>

</section>

<section data-name="Properties">

<section data-name="X">

<section data-name="Summary">

<p>The X coordinate.</p>

</section>

<section data-name="Description">

<p>The <b>X</b> field returns the X coordinate of the vector.</p>

</section>

</section>

<section data-name="Y">

<section data-name="Summary">

<p>The Y coordinate.</p>

</section>

<section data-name="Description">

<p>The <b>Y</b> field returns the Y coordinate of the vector.</p>

</section>

</section>

</section>

<section data-name="Operators">

<section data-name="Add">

<section data-name="Summary">

<p>The sum of two vectors.</p>

</section>

<section data-name="Description">

<p>The <b>add</b> operator returns a vector where each corresponding component
of the two operands are summed.</p>

</section>

</section>

<section data-name="Sub">

<section data-name="Summary">

<p>The difference between two vectors.</p>

</section>

<section data-name="Description">

<p>The <b>sub</b> operator returns a vector where each corresponding component
of the two operands are subtracted.</p>

</section>

</section>

<section data-name="Mul">

<section data-name="Vector2int16">

<section data-name="Summary">

<p>Multiplies each corresponding component.</p>

</section>

<section data-name="Description">

<p>The <b>mul</b> operator returns a vector where each corresponding component
of the two operands are multiplied.</p>

</section>

</section>

<section data-name="Number">

<section data-name="Summary">

<p>Multiplies each component.</p>

</section>

<section data-name="Description">

<p>The <b>mul</b> operator returns a vector where each component of the first
operand is multiplied by the second operand.</p>

</section>

</section>

</section>

<section data-name="Div">

<section data-name="Vector2int16">

<section data-name="Summary">

<p>Divides each corresponding component.</p>

</section>

<section data-name="Description">

<p>The <b>div</b> operator returns a vector where each corresponding component
of the two operands are divided.</p>

</section>

</section>

<section data-name="Number">

<section data-name="Summary">

<p>Divides each component.</p>

</section>

<section data-name="Description">

<p>The <b>div</b> operator returns a vector where each component of the first
operand is divided by the second operand.</p>

</section>

</section>

</section>

<section data-name="Eq">

<section data-name="Summary">

<p>Returns whether two Vector2int16 values are equal.</p>

</section>

<section data-name="Description">

<p>The <b>equal</b> operator returns true if both operands are Vector2int16, and
each corresponding component is equal.</p>

</section>

</section>

<section data-name="Unm">

<section data-name="Summary">

<p>The negation of the vector.</p>

</section>

<section data-name="Description">

<p>The <b>unm</b> operator returns a vector where each component is negated.</p>

</section>

</section>

</section>
